<nav class="navbar navbar-expand-md navbar-dark bg-dark fs-3">
    <div class="collapse navbar-collapse justify-content-around" id="navbarsExampleDefault">
        <a class="navbar-brand fs-3 p-2 fw-bold" href="/">Lab Work 1 - Week 7</a>
        <ul class="navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link active" href="/todo">ToDo</a>
            </li>
        </ul>
    </div>
</nav>